* {
    margin: 0;
    padding: 0;
}

.container {
    height: 180px;
    background-image: url("../img/pattern.png");
    background-color: rgb(56, 158, 218);
}

.titolo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: bottom left;
    height: 180px;
    margin-bottom: 20px;
}

main {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#titolo-principale {
    font-size: 70px;
}

#didascalia { 
    font-size: 35px;
    color: grey;
}

#autore {
    color: rgb(0, 218, 255);
}

#data {
    font-size: 20px;
    margin-bottom: 20px;
}

/* #foto-tim-1 {
    height: 360px;
}

#foto-tim-2 {
    height: 360px;
} */

#fotografo {
    font-style: italic;
    font-size: 
    15px;
}





