* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    height: 180px;
    background-image: url("../img/pattern.png");
    background-color: rgb(56, 158, 218);
}

.titolo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: bottom left;
    height: 180px;
    margin-left: 25px;
}

main {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}

#titolo-principale {
    font-size: 70px;
}

#didascalia { 
    font-size: 35px;
    color: grey;
}

#autore {
    color: rgb(0, 218, 255);
}

#data {
    font-size: 20px;
    margin-bottom: 20px;
}

#fotografo {
    font-style: italic;
    font-size: 
    15px;
}

thead {
    border: 1px solid black;
    background-color: rgb(16, 170, 241);
    color: white;
    text-align: left;
}

.row-size {
    width: 40%;
}

.colore {
    background-color: rgb(195, 248, 255);
}





